root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab

[*.{yml,yaml,json}]
indent_size = 2

[*.{csproj,props,targets,nuspec}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{ps1,psm1,psd1}]
indent_size = 4

[*.{bicep,tf}]
indent_size = 2
